<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head.html :: head('Maunaloa')">
    <title>Maunaloa</title>
</head>
<body>
    <div th:replace="navbar.html :: navbar"></div>

    <div class="logo"></div>

    <div id="my-app"></div>
    <div class="grid-main">
        <div class="main-chart">
            <canvas id="canvas1" class="c1"></canvas>
        </div>
        <div class="main-chart" id="div-1scrap">
            <canvas id="canvas1-scrap" class="c1"></canvas>
        </div>
        <div class="main-chart" id="div-1x">
            <canvas class="c1" id="canvas1x"></canvas>
        </div>
        <div class="sub-chart-1">
            <canvas id="canvas1c" class="c3"></canvas>
        </div>
        <div class="sub-chart-2">
            <canvas id="canvas1b" class="c2"></canvas>
        </div>
        <!--
        <div class="grid-scrapbook">
            <div class="scrap-1">
                <label class="checkbox-inline scrap-cb">
                    <input type="checkbox" id="scrapbook1" value="scrapbook">Scrapbook</input>
                </label>
                <input type="color" value="#72a30f" id="color1"></input>
            </div>
            <div class="scrap-2" style="border:1px solid black; padding: 1rem;">
                <label>Line size</label>
                <br/>
                <label class="radio-inline">
                    <input type="radio" name="rg-line1" value="1">Small</input>
                </label>
                <label class="radio-inline">
                    <input type="radio" name="rg-line1" value="2" checked="checked">Normal</input>
                </label>
                <label class="radio-inline">
                    <input type="radio" name="rg-line1" value="3">Large</input>
                </label>
            </div>
            <div class="scrap-3">
                <div class="scrap-btn">
                      <i id="btn-scrapbook1-line" class="fas fa-pen-square"></i>
                </div>
                <div class="scrap-btn">
                      <i id="btn-scrapbook1-horiz" class="fas fa-minus"></i>
                </div>
                <div class="scrap-btn">
                      <i id="btn-scrapbook1-arrow" class="fab fa-envira"></i>
                </div>
                <div class="scrap-btn">
                      <i id="btn-scrapbook1-text" class="fas fa-font"></i>
                </div>
            </div>
            <div class="scrap-4">
                <select class="form-control" id="arrow1-orient">
                    <option>NW</option>
                    <option>NE</option>
                    <option>SE</option>
                    <option selected="selected">SW</option>
                </select>
            </div>
            <div class="scrap-5">
                <textarea rows="3" cols="20" id="comment1"></textarea>
            </div>
            <div class="scrap-6">
                <div class="scrap-btn">
                      <i id="btn-scrapbook1-clear" class="fas fa-trash"></i>
                </div>
                <div class="scrap-btn">
                      <i id="btn-scrapbook1-save" class="fas fa-download"></i>
                </div>
            </div>
            <div class="scrap-7">
                <button class="btn btn-outline-success" id="btn-levelline-1" type="button">Level line</button>
            </div>
        </div>
        -->
        <div th:replace="scrapbook.html :: scrapbook"></div>
    </div>

    <div th:replace="head.html :: scripts"></div>

    <script type="text/javascript" src="/js/maunaloa/elm-charts.js"></script>
    <script type="text/javascript" src="/js/maunaloa/charts.js"></script>
    <script type="text/javascript" src="/js/maunaloa/canvas/rulers.js"></script>
    <script type="text/javascript" src="/js/maunaloa/canvas/linechart.js"></script>
    <script type="text/javascript" src="/js/maunaloa/canvas/levelline.js"></script>
    <script type="text/javascript" src="/js/maunaloa/canvas/scrapbook.js"></script>
</body>
</html>
