<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head.html :: head('Maunaloa')">
    <title>Maunaloa</title>
</head>
<body>
    <div th:replace="navbar.html :: navbar"></div>

    <div class="logo"></div>

    <div id="my-app">
        <div  class="grid-elm">
           <div class="form-group form-group--elm">
               <label>Select me</label>
               <select clasS="form-control">
                   <option>1</option>
                   <option>2</option>
                   <option>3</option>
                   <option>4</option>
               </select>
           </div>
            <div class="form-group form-group--elm">
                <button type="button" class="btn btn-outline-success">Risc lines</button>
            </div>
            <div class="form-group form-group--elm">
                <button type="button" class="btn btn-outline-success">Risc lines</button>
            </div>
            <div class="form-group form-group--elm">
                <button type="button" class="btn btn-outline-success">Risc lines</button>
            </div>
        </div>
    </div>

    <!-- 
    <div class="col-sm-9">
        <div class="c1">
            <canvas id="canvas2" class="c1"></canvas>
        </div>
        <div class="c1" id="div-2x">
            <canvas id="canvas2x" class="c1"></canvas>
        </div>
        <div class="c1" id="div-2scrap">
            <canvas class="c1" id="canvas2-scrap"></canvas>
        </div>
        <div class="c3">
            <canvas id="canvas2c" class="c3"></canvas>
        </div>
        <div class="c2">
            <canvas id="canvas2b" class="c2"></canvas>
        </div>
    </div>
    -->

    <div th:replace="head.html :: scripts"></div>

    <!--<script type="text/javascript" src="/js/maunaloa/elm-charts.js"></script>
    <script type="text/javascript" src="/js/maunaloa/charts.js"></script>
    <script type="text/javascript" src="/js/maunaloa/canvas/rulers.js"></script>
    <script type="text/javascript" src="/js/maunaloa/canvas/linechart.js"></script>
    <script type="text/javascript" src="/js/maunaloa/canvas/levelline.js"></script>
    <script type="text/javascript" src="/js/maunaloa/canvas/scrapbook.js"></script>-->
</body>
</html>
