.idea
dbcp.properties
netfonds.properties
*.swp
.gradle
target/
build/
purescript/dist/ps-charts.js
feed/
*.log
*.iml
out/
tmp/
elm-charts.js
elm-options.js
elm-stuff/
elm-optionpurchases.js
elm-critters.js
*.map
*.orig*
node_modules/
.psc-package/
.pulp-cache/
purescript/output/
*.xlsx#
.local/
purescript/.psci_modules/
purescript/deploy.bat
purescript/dist/getjs

