<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="head.html :: head('Harborview')">
	</head>
	<body>
        <div th:replace="navbar.html :: navbar"></div>
        <div class="logo"></div>
        <!--
        <img src="/img/02.png" height="159" width="163" />
        -->
        <!--
        <div class="dropdown">
            <button class="btn btn-primary" id="myDropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown trigger <span class="caret"></span></button>
            <ul class="dropdown-menu" aria-labelledby="myDropdown" aria-expanded="false">
                <li role="presentation"><a role="menuitem" href="#">Action</a></li>
                <li role="presentation"><a role="menuitem" href="#">Another action</a></li>
                <li role="presentation"><a role="menuitem" href="#">Something else here</a></li>
            </ul>
        </div>
        -->
		<p>Hi, this is  really cool!</p>
        <div th:replace="head.html :: scripts"></div>
	</body>
</html>
