$color-primary-0: #1E6D88;	// Main Primary color */
$color-primary-1: #86989F;
$color-primary-2: #4C8395;
$color-primary-3: #04546F;
$color-primary-4: #014156;

$color-secondary-1-0: #D9A629;	// Main Secondary color (1) */
$color-secondary-1-1: #FEF2D4;
$color-secondary-1-2: #EECB76;
$color-secondary-1-3: #B17D00;
$color-secondary-1-4: #896100;

$color-secondary-2-0: #D94529;	// Main Secondary color (2) */
$color-secondary-2-1: #FEDBD4;
$color-secondary-2-2: #EE8976;
$color-secondary-2-3: #B11C00;
$color-secondary-2-4: #891500;


body {
    color: $color-primary-4;
    background-color: $color-secondary-1-1;
    font-size: 1.3em;
}

@import "grid";
