

.navbar-inverse { 
    background-color: $navbar-color-1; 
}

.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>li>a:hover, 
.navbar-inverse .navbar-nav>li>a:focus { 
    background-color: $navbar-color-2; 
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a, 
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a, 
.navbar-inverse .navbar-nav>.open>a:hover, 
.navbar-inverse .navbar-nav>.open>a:focus { 
    background-color: $navbar-color-2; 
}

.dropdown-menu { 
    background-color: $navbar-color-3; 
}

.dropdown-menu>li>a:hover, 
.dropdown-menu>li>a:focus { 
    background-color: $navbar-color-2; 
}

.navbar-inverse { 
    background-image: none; 
}

.dropdown-menu>li>a:hover, 
.dropdown-menu>li>a:focus { 
    background-image: none; 
}

.navbar-inverse { 
    border-color: $navbar-color-1; 
}
.navbar-inverse .navbar-brand { 
    color: #000000; 
}
.navbar-inverse .navbar-brand:hover { 
    color: #A8A290;
}
.navbar-inverse .navbar-nav>li>a { 
    color: #000000;
}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { 
    color: #FFFFFF;
}
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.open>a, 
.navbar-inverse .navbar-nav>.open>a:hover, 
.navbar-inverse .navbar-nav>.open>a:focus { 
    color: #FFFFFF;
}
.navbar-inverse .navbar-nav>.active>a:hover, 
.navbar-inverse .navbar-nav>.active>a:focus { 
    color: #FFFFFF;
}
.dropdown-menu>li>a { 
    color: #52555E;
}
.dropdown-menu>li>a:hover, 
.dropdown-menu>li>a:focus { 
    color: #FFFFFF;
}
.navbar-inverse .navbar-nav>.dropdown>a .caret { 
    border-top-color: #000000;
}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { 
    border-top-color: #FFFFFF;
}
.navbar-inverse .navbar-nav>.dropdown>a .caret { 
    border-bottom-color: #000000;
}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { 
    border-bottom-color: #FFFFFF;
}
