
.grid-scrapbook {
  grid-column: 3;
  display: grid;
  grid-gap: 2px;
  grid-template-rows: 100px 50px 100px 50px 50px 100px 50px 50px;
}
.scrap-1 {
  grid-row: 1;
    border: 1px solid black;
    padding: 1em;
}
.scrap-2 {
    grid-row: 2;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.scrap-3 {
    grid-row: 3;
    border: 1px solid black;
    padding: 1rem;
}
.scrap-4 {
  grid-row: 4;
}
.scrap-5 {
    grid-row: 5;
}
.scrap-6 {
    grid-row: 6;
}
.scrap-7 {
    grid-row: 7;
}
.scrap-8 {
    grid-row: 8;
}
.scrap-btn {
  font-size: 2rem;
  margin-right: 1rem;
  float: left;
}
.scrap-cb {
    float: left;
  margin-right: 1rem;
}
