<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="stockMarketRepos" class="critterrepos.models.impl.CachedStockMarketReposImpl">
        <property name="mybatisConfigFile" value="critters-mybatis.conf.xml" />
    </bean>
    <!--
    <bean id="maunaloaDao" class="harborview.dao.impl.MockMaunaloaDAO">
    </bean>
    -->
    <bean id="maunaloaCommon" class="harborview.maunaloa.MaunaloaCommon">
        <property name="stockMarketRepository" ref="stockMarketRepos" />
    </bean>
</beans>